*{
    margin: 0;
    padding: 0;
}


.container {
    padding: 2vw 8vw 2vw 8vw; 
}

header {
    display: flex;
    justify-content: space-between;
    
}

header .menu ul {
    display: flex;
    gap:4vw;
    list-style: none;
    
}

header .menu ul li {
    font-family:"Poppins", sans-serif ;
font-weight: 400;
font-size: 16px;
line-height: 23px;
letter-spacing: 1.5px;

}

/* hero secction */

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .herotext {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 3vw;
}

.hero-section .herotext h1 {
    font-family: "Playfair Display",serif;
font-weight: 700;
font-size: 90px;
line-height: 120%;
letter-spacing: 2%;
color: #094B72;

}

.hero-section .herotext p {
    font-family: "Plus Jakarta Sans",sans-serif;
font-weight: 500;
font-size: 24px;
line-height: 158%;
letter-spacing: 0.5px;
vertical-align: middle;
color: #4F4F4F;

}

.hero-section .herotext div a {
    font-family:"Plus Jakarta Sans",sans-serif;
    font-weight: 500; 
font-weight: 700;
font-size: 16px;
line-height: 140%;
letter-spacing: 8%;
vertical-align: middle;
background: #094B72;
color: aliceblue;
padding: 16px;
text-decoration:none

}

.hero-section .herotext img {
    width: 140px;
}

/* services section  */

.services {
    display: flex;
    align-items: center;
    background: #F2FCFF;

}

.services .servicestext {
    width: 50%;
    text-align: center;

}

.services .servicestext h1 {
    font-family: "Playfair Display," serif;
font-weight: 700;
font-size: 48px;
line-height: 100%;
letter-spacing: 0.32px;
color: #2D2F30;
margin-bottom: 6px;

}

.services .servicestext p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #8B8C8C;
    
}

.services .allservices {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.services .allservices .servicescart {
    width: 25%;
    background-color:#Fcfcfc;
    min-height: 255px;
    padding: 2vw;
    margin: 1vw;
}

.services .allservices .servicescart h1{
    font-family: "Playfair Display," serif;
font-weight: 700;
font-size: 22px;
line-height: 22px;
letter-spacing: 0.5px;
color: #363940;

}

.services .allservices .servicescart p {
    font-family:"Plus Jakarta Sans",sans-serif; 
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.3px;
color: #8B8C8C;

}




/* count Section */

.count-section{
    background-image: url('./img/BG.png');
    color: #fff;
   min-height: 356px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
  }
  
  .count-section .count-text h1{
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.5%;
  text-align: center;
  
  }
  
  .count-section .count-text p{
  font-family:"Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.5px;
  text-align: center;
  }
  
  
  .count-section .count-count{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vw;
  }

  

  /* Client Testimonials  */
.client-testimonial{
    background-color: #F4FBFF;
    }
    
    .client-testimonial h1{
      text-align: center;
      font-family: "Playfair Display", serif;
    
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #2D2F30;
    
    }
    
    .client-testimonial .testimonials{
    display: flex;
      justify-content: space-around;
    padding: 4vw;
    
    }
    
    .client-testimonial .testimonials .testimonial{
      width: 40%;
      display: flex;
      row-gap: 2vw;
      flex-direction: column;
      align-items: center;
      
     
    
    
    }
    
    .client-testimonial .testimonials .testimonial .testimonial-card{
      background-color: #FFFFFF;
      box-shadow: 0px 10px 20px 0px #29292A12;
      border-radius: 12px;
      padding: 2vw;
    }
    
    .client-testimonial .testimonials .testimonial .testimonial-card h3{
      font-family: "Poppins", sans-serif;
     margin-bottom: 1vw;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    
    }
    
    .client-testimonial .testimonials .testimonial .testimonial-card p{
      font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    
    }
    
    .client-testimonial .testimonials .testimonial .testimonial-profile{
      display: flex;
    }
    




    .question-section{
        display: flex;
      }
      
      .question-section .question-text{
        width: 70%;
        display: flex;
        flex-direction: column;
        
        gap: 2vw;
      }
      
      .question-section .question-text h1{
        font-family: "Playfair Display", serif;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      letter-spacing: 0.5px;
      color: #2D2F30;
      
      }
      
      .question-section .question-text p{
        font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.5px;
      color: #4f4f4f;
      
      }
      
      
      
      
      .question-section .question-text a{
      text-decoration: none;
      background-color: #0F6E8C;
      color: #fff;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      font-weight: bold;
      padding: 16px 34px;
      border-radius: 12px;
      }
      
      .question-section .question-text a:hover{
        background-color: #128eb4;
        transition: ease 0.3s;
      }





      /* Footer section */
footer{
    background-color: #0F6E8C;
  }
   
  
  footer .main-footer{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns for larger screens */
    gap: 20px;
    padding: 20px 0;
  }
  
  footer .main-footer ul{
    list-style: none;
  }
  
  footer .main-footer h3{
    color: #EEEFF4;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
  }
  
  footer .main-footer ul li{
    font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  color:  #EEEFF4;
  
  
  }
  
  .copyright{ 
    background-color:  #05546D;
    color:#fff;
    display: flex;
    justify-content: space-between;
  }
  
  
  .copyright .social-media{
    display: flex;
    gap: 15px;
  } 
  
  .copyright .social-media i{
    color: #fff;
    background-color: #0F6E8C;
    padding: 5px;
    border-radius: 50%;
  }

