*{
   margin: 0px; 
   padding: 0px;
}

:root {
    
    --orange: hsl(26, 100%, 55%);
    --PaleOrange: hsl(25, 100%, 94%);
    --GrayishBlue: hsl(220, 14%, 75%);
    --gray: hsl(220, 13%, 13%);
  }

  body{
    font-family: "Kumbh Sans", sans-serif;
}
.container {
width: 80%;
margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
   height: 100px;
   border-bottom: 1px solid var(--GrayishBlue);
align-items: center;
}

header .menu ul {
    display: flex;
   gap: 20px;
   list-style: none;
}

header .menu ul li a {
text-decoration: none;
color: var(--gray);

}

header .avater img {
    width: 25px;
}

.hero-section {
    display: flex;
    justify-content: space-between ;
    padding: 60px 40px 60px 40px;
}

.hero-section .img .mainimg img {
    width: 400px;
    border-radius: 20px;
}

.hero-section .img  {
    width: 50%;
    display: flex;

        flex-direction: column;
        align-items: center;
}

.hero-section .img .imgthumb {
    display: flex;
gap: 35px;
 margin-top: 20px;

}

.hero-section .img .imgthumb img {
width: 70px;
border-radius: 20px;
border: 3px solid orange;

}

.hero-section .heroinfo {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 80px;
justify-content: space-around;

}

.hero-section .heroinfo h6 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: hsl(219, 9%, 45%);
    line-height: 40px;
}

.hero-section .heroinfo h1 {
    font-size: 50px;
    line-height: 55px;
    padding-bottom: 30px;
    color: hsl(220, 13%, 13%);
} 

.hero-section .heroinfo p {
    color: hsl(219, 9%, 45%);
    font-size: 18px;
    padding-right: 40px;
    padding-bottom: 30px;
}

.hero-section .heroinfo h3 span {
    font-size: 16px;
    padding: 0 5px;
    position: relative;
    left: 5px;
    color: #fff;
    background: #000;
    border-radius: 5px;
}

.hero-section .heroinfo del {
    color: hsl(219, 9%, 45%);
    padding: 10px 0;
    font-weight: bold;
    display: inline-block;
}

.hero-section .heroinfo .addtocart {
    display: flex;
    gap: 10px;
}

.hero-section .heroinfo .addtocart .count {
    flex: 1;
    background-color: hsl(223, 64%, 98%);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
.hero-section .heroinfo .addtocart .count button{
font-size: 30px;
padding: 0px 30px;
background-color: transparent;
border: none;
color: var(--orange);
font-weight: 900;
cursor: pointer;
}

.hero-section .heroinfo .addtocart .count span {
font-size: 20px;
position: relative;
top: 10px;
}

.hero-section .heroinfo .addtocart .cartbtn {
    flex-grow: 2;
}

.hero-section .heroinfo .addtocart .cartbtn button {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    background-color: var(--orange);
    border: none;
    font-weight: 900;
    cursor: pointer;
    border-radius: 10px;

}