* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('./img/peter-thomas-OkVlSheILSo-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-box {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
    border-radius: 12px;
    padding: 35px;
    width: 350px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
    text-align: center;
    color: white;
}

#login-box h2 {
    margin-bottom: 18px;
}

.field-group {
    margin-bottom: 15px;
}

.field-group input {
    background: #fff;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    color: white;
}

.field-group input::placeholder {
    color: black;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background: #746e6e;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 17px;
    color: white;
    font-weight: bold;
}



p {
    margin: 12px 0;
}

.social-links {
    margin-top: 18px;
}

.social-links a {
    margin: 0 12px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    background-color: #746e6e;
    padding: 8px 10px;
    border-radius: 6px;
}
