@font-face {
    font-family: 'AbuSayed'; 
    src: url('./fonts/AbuSayed.woff2') format('woff2');
    font-weight: normal; 
    font-style: normal; 
  }

  @font-face {
    font-family: 'Mahfuj'; 
    src: url('./fonts/Mahfuj.woff2') format('woff2');
    font-weight: normal; 
    font-style: normal; 
  }

*{
    padding: 0;
    margin: 0;
}
 
h1 {
    font-family: "Mahfuj";
}

h2 {
    font-family: "AbuSayed";
}
body{
    background-color: black;
}

#logo {
    color: red;
    font-size: 35px;
    font-weight: bold;
}
.main{
    background-image: url('./assets/images/bg.jpg');
    height: 80vh;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}
.main .box{
    width: 100%;
    height: 80vh;
    background-color: black;
    opacity: 0.44;
    position: absolute;
    top: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
   height: 60px;
    margin: auto;

}
.nav img,button{
    position: relative;
    z-index: 10;
}

.hero{
    position: relative;
    top: 20%;
    /* height: auto; */
    color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}

.hero h1{
    font-size: 68px;
    padding: 5px;
    text-align: center;
    font-family: 'Mahfuj', sans-serif;
}

.hero h1,h2,h4{
    text-align: center;
}


.separation{
    background-color: rgb(77, 75, 75);
    height: 6px;
    
}

.btn{
    border: none;
    border-radius: 8px;
    background-color: white;

    padding: 8px ;
    font-weight: bold;
}
.btnen{
    background-color: white;
    color: black;
    border: 1px solid;

}

.redin{
    background-color: red;
    color: white;
}

.formbutton{
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
font-weight: bolder;


}
.btnin{
    
    padding: 18px 150px 15px 15px;
    background-color:rgba(23,23,23,0.3);
    border: 1px solid gray;
    font-weight: bold;
    color: white;
    

}
.redstart{
background-color: red;
color: white;
padding: 15px;
font-size: 18px;
}

.section1{
    color: white;
    display: flex;
   width: 95vw;
   margin: auto;
    /* height: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;


}
.sec1{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.sec2 img{
    width:400px;
}

.faq{
    color: white;
    height: 650px;
}
.faq h1{
    text-align: center;
    font-size: 30px;
}
.faqboxall{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.faqbox{
    background-color: #414141;
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
   padding: 10px;
}
.faq h5{
    text-align: center;
    margin-bottom: 20px;
}

footer{
    color: white;
}
.gridsecall{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
color: white;
max-width: 70vw;
margin: auto;
}
footer li{
    list-style: none;
}
footer .gridsecall .gridsec a{
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    font-size: 0.7rem;
    font-family: "Poppins", sans-serif;
    
}